.code-block{

    margin:20px 0;

    border-radius:14px;

    overflow:hidden;

    border:1px solid #2b2b2b;

}

.code-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:10px 16px;

    background:#1f2937;

    color:white;

}

.copy-btn{

    border:none;

    background:#10a37f;

    color:white;

    padding:7px 14px;

    border-radius:8px;

    cursor:pointer;

    transition:.25s;

}

.copy-btn:hover{

    background:#0d8d6f;

}